* {
  margin: 0;
  padding: 0;
}

.LoginForm {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: flex-end;
}

.LoginForm input {
  display: flex;
  flex-direction: column;
}
